# -*- Mode: nginx; -*-
add_header X-Frame-Options SAMEORIGIN;
add_header X-Content-Type-Options nosniff;
add_header X-XSS-Protection "1; mode=block";

{# static_sites and rewrite_rules are defined in vars/main.yml #}

{% for domain in static_sites %}
server {
    listen 443 ssl;
    server_name {{ domain }};
    access_log /var/log/nginx/{{ domain }}-ssl-access.log;
    error_log /var/log/nginx/{{ domain }}-ssl-error.log;
    include /etc/nginx/snippets/letsencrypt.conf;
    {% if ssl %}
    include /etc/nginx/snippets/ssl.conf;
    {% endif %}

    keepalive_requests 200;
    keepalive_timeout 65s;
    client_body_timeout 8;
    client_header_timeout 4;
    send_timeout 4;

    location / {
        root /var/www/html/{{ domain }};
        limit_req zone=rate_limit burst=20 nodelay;
    }
}
{% endfor %}

{% for domain, redirect in rewrite_rules %}
server {
    listen 443 ssl;
    server_name {{ domain }};
    access_log /var/log/nginx/{{ domain }}-ssl-access.log;
    error_log /var/log/nginx/{{ domain }}-ssl-error.log;
    include /etc/nginx/snippets/letsencrypt.conf;
    {% if ssl %}
    include /etc/nginx/snippets/ssl.conf;
    {% endif %}

    keepalive_requests 200;
    keepalive_timeout 65s;
    client_body_timeout 8;
    client_header_timeout 4;
    send_timeout 4;

    location / {
        # Always HTTP here, because it's local
        proxy_pass http://{{ redirect }};
        limit_req zone=rate_limit burst=20 nodelay;
        proxy_set_header Host            $host;
        proxy_set_header X-Real-IP       $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

{% endfor %}
