# -*- Mode: yaml; -*-
apiVersion: 1

datasources:
  - name: InfluxDB_v2_Flux
    type: influxdb
    access: proxy
    url: "http://{{ influxdb_host }}:{{ influxdb_port }}"
    secureJsonData:
      token: "{{ influxdb_password }}"
    jsonData:
      version: Flux
      organization: "{{ influxdb_org }}"
      defaultBucket: "{{ influxdb_bucket }}"
      tlsSkipVerify: true
